*{
    font-size: small;
    color: black;

}

body{
    height: 100vh;
    width: 100vw;
    background-color: thistle;
}

.title{
    background-color: mediumorchid;
}

.navbar-brand{
    color: black;
}

.nav-link{
    color: black;
}

.bio-text{
    text-align: center;
    justify-content: center;

}
.card{
    width: 200px;
    height: 200px;
    background-color: mediumorchid;
}
.card-img-top{
    width: 100%;
    height: 150px;
}
.hannah-icon{
width: 70px;
height: 90px;
margin: 10px, 10px, 10px, 10px;

}


#about-me{
    height: 200px;
    width: 80%;
    margin:0px;
}
#contact-me{
    height: 50px;
}
